:root {
    --main-color: #666;
    --greyed-out: #888;
    --back-color: #666;
    --holder-back: #111;
    --faded-txt: rgba(255, 255, 255, 0.5);
    --trans-speed: 0.3s;
    --samp-var: #c30;
}

* {
    box-sizing: border-box;
    word-wrap: break-word;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--back-color);
    font-size: 22px;
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -epub-hyphens: auto;
    hyphens: auto;
    user-select: none;
}

#holder {
	position: relative;
    color: var(--main-color);
    background-color: var(--holder-back);
    margin: auto;
    width: 100%;
    max-width: 700px;
}

a {
    text-decoration: none;
    color: var(--main-color);
}

a:hover, a:visited {
    color: #eee;
    transition: color linear var(--trans-speed);
}

.qa {
    border: 1px solid var(--main-color);
}

.qr {
    padding: 10px;
}

.qa:after {
    content: "";
    display: table;
    clear: both;
}

.qa > div {
    float: left;
    padding: 10px;
    height: auto;
}

.qa > div:nth-child(1) {
  width: 65%;
}

.qa > div:nth-child(2) {
  width: 35%;
  text-align: center;
}

pre {
    background-color: var(--main-color);
    margin: 0px;
    padding: 10px;
    color: #fff;
    overflow: auto;
}

hr {
    border-top: 1px solid var(--main-color);
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin: 7px 0px 7px 0px;
}

.mobr {
    display: none;
}

.strong-disagree {
    text-align: center;
    padding: 5px;
    width: 100%;
    font-size: 20px;
    background-color: var(--main-color);
    color: #fff;
    display:flex;
    margin: auto;
}

.strong-disagree > label {
    width: 20%;
}

.survQ {
    padding: 10px;
    width: 100%;
    text-align: center;
    font-size: 27px;
}
    
.survArr {
    width: 50%;
    text-align: center;
    font-size: 10px;
    float: left;
}

.survArr.left {
    border-right: 1px solid #888;
}

.survArr.left:before {
    content: '\25C0 \25C0 \25C0  ';
}

.survArr.rite:after{
    content: '  \25B6 \25B6 \25B6';
}

input[type=radio] {
    height: 30px;
    width: 30px;
}

#svg0 {
    position:relative;
    width:220px;
    height:340;
    overflow: visible;
    border: 0px solid #ea0;
}

/*possibly a portrait mobi-fone*/
@media screen and (max-width:500px) {
    .strong-disagree {
        font-size: 12px;
    }
	.qa > div:nth-child(1),
	.qa > div:nth-child(2)
	{
    	width: 100%;
    }
    
    #svg0 {
        width: 200px;
    }
    
    .mobr {
        display: inline-block;
    }
    
}

/*possibly a mobile landscaper*/
@media screen and (orientation: landscape) and (max-width: 760px) {
    
    #svg0 {
        width: 100px;
    }
    
}